# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.ipynb_checkpoints



# Distribution / packaging
.Python
build/
Plots/
Plots_DE/
.pdf
.png
.jpg
Plots/
transient_search_plots/Results_pdf
transient_search_plots/Results_jpeg


## Tests
SWIFT/
FERMI/


Stuff.ipynb




# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


#make
Makefile
